body {
  background-color: #fb3617;
  color: #fc945c;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 10%
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #f6c48e;
  border-bottom: 1px solid #f6c48e;
  background-color: #db2104;
}
