* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: rbb(0,0,0);
  padding: 20px;
  background: rgba(80, 78, 80, 225);
}

.header {
  color: rgba(246, 238, 54, 255);
}

.exp-header {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: rgba(80, 78, 80, 225);
}

/* mouse over link */
a:hover {
  color: rgba(246, 238, 54, 255);
}

/* selected link */
a:active {
  color: rgba(80, 78, 80, 225);
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: rgba(168, 182, 206, 255);
}

.leftcolumn {
  float: left;
  width: 25%;
}

.rightcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: rgba(168, 182, 206, 255);
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
